
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Add New Admin Page</h4>
<br />
<form method="post">
    <label>User Name</label>
    <input type="text" class="form-control" name="UserName" placeholder="Please enter user name" />
    <br />
    <label>Password</label>
    <input type="text" class="form-control" name="Password" placeholder="Please enter password" />
    <br />
    <button class="btn btn-success">Save</button>
</form>
