@using MVC_CV.Models.Entity
@model List<Tbl_Certificates>

<div class="resume-section-content">
    <h2 class="mb-5">Awards & Certifications</h2>
    <ul class="fa-ul mb-0">
        @foreach (var x in Model)
        {
            <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                @x.Explanation
            </li>
        }
    </ul>
</div>
