


<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">Contact</h2>
        <label>Name Surname</label>
        <input type="text" class="form-control" name="NameSurname" />
        <br />
        <label>Mail</label>
        <input type="text" class="form-control" name="Mail" />
        <br />
        <label>Issue</label>
        <input type="text" class="form-control" name="Issue" />
        <br />
        <label>Message</label>
        <input type="text" class="form-control" name="Message"/>
        <br />
        <button class="btn btn-warning">Send Message</button>
    </form>
</div>
