@using MVC_CV.Models.Entity
@model List<Tbl_Interest>

<div class="resume-section-content">
    <h2 class="mb-5">Interests</h2>
    @foreach (var x in Model)
    {
        <p>@x.Explanation1</p>
        <p class="mb-0">@x.Explanation2</p>
    }
</div>
