@using MVC_CV.Models.Entity
@model List<Tbl_SocialMedia>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
    string situation = "";
    
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Social Media List</h3>
                            </div>
                            <div class="card-body">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
                                    <i class="fas fa-plus"></i>
                                    Add New Social Media
                                </button>
                                <br />
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Social Media</th>
                                            <th>Situation</th>
                                            <th>Update</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var x in Model)
                                        {
                                            if(x.Situation==true)
                                            {
                                                situation = "Active";
                                            }
                                            if(x.Situation==false)
                                            {
                                                situation = "Passive";
                                            }
                                            <tr>
                                                <td>@x.ID</td>
                                                <td>@x.SocialName</td>
                                                <td>@situation</td>
                                                <td>
                                                    <a href="/SocialMedia/DeleteSocialMedia/@x.ID" class="btn btn-danger btn-sm">
                                                        <i class="fas fa-trash-alt"></i>
                                                        Delete
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="/SocialMedia/UpdateSocialMedia/@x.ID" class="btn btn-warning btn-sm">
                                                        <i class="fas fa-pencil-alt"></i>
                                                        Update
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Add New Social Media Panel</h2>
                    </div>,
                    <form method="post" action="/SocialMedia/AddSocialMedia">
                        <div class="modal-body">
                            <label>Social Media Name</label>
                            <input type="text" name="SocialName" class="form-control" />
                            <br />
                            <label>Social Media Link</label>
                            <input type="text" name="Link" class="form-control" />
                            <br />
                            <label>Icon Value</label>
                            <input type="text" name="icon" class="form-control" />
                            <br />
                            <button class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>